.interaction-inner {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  width: fit-content;

  &:has(.slot-start) {
    .slot-end {
      margin-left: calc(var(--SIZE) / 2);
    }
  }
  &:has(.slot-end) {
    .slot-center {
      flex: 1;
    }
  }
}

.stretch {
  width: 100%;
  & > .slot-center {
    flex: 1;
  }
}

.align {
  &_top {
    --ALIGN: flex-start;
  }

  &_center {
    --ALIGN: center;
  }

  &_bottom {
    --ALIGN: flex-end;
  }

  &_top,
  &_center,
  &_bottom {
    align-items: var(--ALIGN);
  }
}

.size {
  &_xs {
    --SIZE: var(--EL-XS);
  }

  &_sm {
    --SIZE: var(--EL-SM);
  }

  &_md {
    --SIZE: var(--EL-MD);
  }

  &_lg {
    --SIZE: var(--EL-LG);
  }

  &_xs,
  &_sm,
  &_md,
  &_lg {
    padding: 0 calc(var(--SIZE) / 2);
    gap: calc(var(--SIZE) / 4);
  }
}

.divider {
  height: 40%;
  opacity: 0.24;
}

.slot-center {
  overflow: hidden;
}

.slot {
  flex-shrink: 0;
}

.disable-padding {
  padding: 0;
}
