// TODO: установить шрифт локально
@import "https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --MAIN1: #141414;
  --CONTRAST1: #fff;
  --SURFACE1: #1a1a1a;
  --STROKE1: #262626;
  --STROKE2: #4d4d4d;
  --OPACITIED1: #999;
  --INACTIVE1: #808080;
  --PRIMARY1: #703bf7;
  --WARNING1: #faa937;
  --ERROR1: #f95738;
  --SUCCESS1: #ffe500;
  --EL-SM: 1.5rem;
  --EL-MD: 2.75rem;
  --EL-LG: 4rem;
  --ICON-SM: 1rem;
  --ICON-MD: 1.25rem;
  --ICON-LG: 1.5rem;
  --HEADER-SM: 4rem;
  --HEADER-MD: 5rem;
  --HEADER-LG: 6rem;
  --RADIUS-SM: 0.25rem;
  --RADIUS-MD: 0.75rem;
  --RADIUS-LG: 2rem;
}

body {
  background: var(--MAIN1);
}

.h {
  @media screen and (width >=0) {
    &1 {
      font-size: 2.75rem;
      font-weight: 600;
    }

    &2 {
      font-size: 1.75rem;
      font-weight: 600;
    }

    &3 {
      font-size: 1.25rem;
      font-weight: 600;
    }

    &4 {
      font-size: 1.25rem;
      font-weight: 600;
    }

    &5 {
      font-size: 1rem;
      font-weight: 600;
    }

    &6 {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  @media screen and (width >=90rem) {
    &1 {
      font-size: 3rem;
      font-weight: 600;
    }

    &2 {
      font-size: 2.25rem;
      font-weight: 600;
    }

    &3 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &4 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &5 {
      font-size: 1.25rem;
      font-weight: 600;
    }

    &6 {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  @media screen and (width >=120rem) {
    &1 {
      font-size: 3.75rem;
      font-weight: 600;
    }

    &2 {
      font-size: 3rem;
      font-weight: 600;
    }

    &3 {
      font-size: 2rem;
      font-weight: 600;
    }

    &4 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &5 {
      font-size: 1.25rem;
      font-weight: 600;
    }

    &6 {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}

.subtitle {
  @media screen and (width >=0) {
    &1 {
      font-size: 0.875rem;
      font-weight: 500;
    }

    &2 {
      font-size: 0.625rem;
      font-weight: 500;
    }
  }

  @media screen and (width >=90rem) {
    &1 {
      font-size: 1rem;
      font-weight: 500;
    }

    &2 {
      font-size: 0.75rem;
      font-weight: 500;
    }
  }

  @media screen and (width >=120rem) {
    &1 {
      font-size: 1rem;
      font-weight: 500;
    }

    &2 {
      font-size: 0.75rem;
      font-weight: 500;
    }
  }
}

.body {
  @media screen and (width >=0) {
    &1 {
      font-size: 0.875rem;
      font-weight: 400;
    }

    &2 {
      font-size: 0.625rem;
      font-weight: 400;
    }
  }

  @media screen and (width >=90rem) {
    &1 {
      font-size: 1rem;
      font-weight: 400;
    }

    &2 {
      font-size: 0.75rem;
      font-weight: 400;
    }
  }

  @media screen and (width >=120rem) {
    &1 {
      font-size: 1rem;
      font-weight: 400;
    }

    &2 {
      font-size: 0.75rem;
      font-weight: 400;
    }
  }
}

.action {
  &1 {
    font-size: 1rem;
    font-weight: 500;
  }

  &2 {
    font-size: 1rem;
    font-weight: 500;
  }

  &3 {
    font-size: 0.875rem;
    font-weight: 500;
  }
}
